

@media only screen and (max-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {

    
    body {
        font-family: Arial, sans-serif;
        line-height: 1.3em; /* Adjust the value as needed */
    }
        
    
    
    .image1{  
        height: 683px;
        width: 375px;
        margin: -8px 1px 1px -8px;
    }
    
    .datebox{
        /* border: none; */
        height: 12px;
        width: 120px;
        /* border: 1px solid black; */
        position: absolute;
        margin-top: -456px;
        margin-left: 85px;
        text-wrap: nowrap;
        background: white;
        font-size: 11px;

    }

    #dates{
        margin-top: -5px;
        position: absolute;
        margin-left: 1px;
        color: #f09055;
    }

    .link{
        height: 171px;
        width: 350px;
        border: 1px solid black;
        position: absolute;
        margin: -579px 0px 0px 1px;
        border: none;
    }

    .source{
        margin: -536px -1px 0px 45px;
        position: absolute;
        background: white;
        font-size: 14px;
        border: none;
        
    }

    .destination{
        margin: -536px -1px 0px 214px;
        position: absolute;
        background: white;
        font-size: 14px;
        border: none;
    }

    .back{
        height: 40px;
        width: 40px;
        position: absolute;
        border: 1px solid black;
    
    }
    

}
